@font-face {
    font-family: 'astralFont';
    src: url('Fonts/astral_sisters/AstralSisters.ttf') format('truetype'); /* Ensure the path is correct */
}
body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

.container {
    display: flex;
    width: 200%; /* 1 section and 2 half-sections */
    height: 100vh;
    transition: transform 2.25s ease-in-out;
}
.gallery_container {
    display: flexbox;
    flex-direction: column;
    overflow-y: auto;
}
.gallery-item {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
}
.home {
    width: 100vw; /* Each section is full viewport width */
    height: 100vh;
}
.contact {
    width: 50vw; /* Each section is full viewport width */
    height: 100vh;
}
.gallery {
  position: relative;
    width: 50vw; /* Each section is full viewport width */
    height: 100vh;
}
.scrollable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Enables vertical scrolling */
  overflow-x: hidden; /* Prevents horizontal scrolling */
}
.nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none; /* Transparent background */
    backdrop-filter: blur(10px);
    z-index: 2;
    padding: 0 20px;
}
.pageButton {
    color: white;
    background-color: transparent;
    box-shadow: none;
    border: none;
    font-size: x-large;
    font-family: 'astralFont', sans-serif;
    
}
.buttonImg {
    padding-top: 10px;
    width: 100px;
    height: 50px;
}

.star-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
  
.star {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;  /* Default color for fallback */
  border-radius: 2px;
  transform: rotate(45deg);  /* Rotate the square by 45 degrees */
}
.star-label {
  position: absolute;
  top: 20px;
  left: 12px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 5px;
  border-radius: 6px;
  font-size: 18px;
  white-space: nowrap;
  visibility: hidden;  /* Hide the label by default */
  transition: visibility 0.2s ease;
  transform: rotate(-45deg);  /* Rotate the square by 45 degrees */
}

/* Show the label on hover */
.star:hover .star-label {
  visibility: visible;
}

@keyframes fadeInStar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutStar {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}