form {
    width: 60%;
    margin: 0;
    background: transparent;
    background-color: transparent;
}
.sideSection {
    overflow: hidden;
    position: relative;
}
.contact-container {
    /* top: 160px;
    left: 1260px; */
    padding-top: 1%;
    top: 10%;
    left: 10%;
    bottom: 50px;
    /* background-color: rgba(255, 255, 255, 0.2); Semi-transparent background */
    width: 65%;
    margin-left: 2%;
    position: absolute; /* Ensure the form is positioned relative to this container */
  }
input, textarea {
    width: 155%;
    border: transparent;
    border-radius: 4px;
    background: transparent;
    padding-left: 10%;
}
.emailInput {
    color: rgba(211, 211, 211, 0.521);
    font-size: 32px;
}
.topicInput {
    font-size: 30px;
    margin-top: 18%;
    color: rgba(255, 255, 255, 0.658);
    background-color: transparent;
    width: 130%;
    margin-left: 20%;
    border-color: transparent;
}
select:focus {
    outline: none; /* Remove default outline */
    border-color: #0056b3; /* Change border color on focus */
}
option {
    color: black;
}
.bodyInput {
    color: rgba(128, 128, 128, 0.712);
    font-size: 25px;
    margin-top: 8%;
    padding-bottom: 50%;
}
#contactButton {
    margin-left: 65%;
}